@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: "Poppins", serif;

    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -ms-user-drag: none;
    user-drag: none;
}

:root {
    --mainBgColor: #16181d;
    --secondaryBgColor: #202329;
}

body {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 2em;
    width: 100%;
    height: 100svh;
    background: var(--mainBgColor);
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

#searchDiv {
    width: 100%;
    background: var(--secondaryBgColor);
    position: relative;
}

#searchDivInputs {
    width: 100%;
    height: 3em;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

#searchInput {
    flex:1;
    height: 100%;
    width: 80%;
    padding: 0.75em 1.75em 0.75em 0.75em;
    font-size: 1.25em;
    border: 1px solid gray;
    border-radius: 10px 0 0 10px;
    background: var(--secondaryBgColor);
    box-shadow: 0;
    overflow: hidden;
}

#searchInput:focus-visible {
    outline: 0;
    border: 1px solid #fff;
}

#searchInputX {
    position: absolute;
    right: 3.5em;
    display: none;
}

#searchBtn {
    height: 100%;
    aspect-ratio: 1;
    right: 0;
    background: gray;
    border: 0;
}

#searchBtn svg {
    width: 2.5em;
    aspect-ratio: 1;
}

#suggestions {
    width: 100%;
    list-style-type: none;
    position: absolute;
    background: var(--secondaryBgColor);
    border-radius: 0 0 10px 10px;
    z-index: 10;
}

#suggestions li {
    padding: 1em;
    cursor: pointer;
}

#suggestions li:hover {
    background: gray;
}

main {
    display: none;
    flex: 1;
    width: 100%;
    height: 100%;
    /*outline: 1px solid red;
    flex-direction: column;
    justify-content: center;
    gap: 1em;*/
}

#placeAndDateTime {
    justify-content: space-between;
    font-size: 1.25em;
}

#currentLocalTime {
    font-size: 2em;
}

#mainCurrentWeatherInfos {
    display: flex;
    align-items: center;
    margin: 2.5em 0;
}

#currentTemperature {
    width: 50%;
    font-size: 3.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

#currentWeatherImg {
    max-width: 35%;
    margin: 0 auto;
}

img {
    display: block;
    padding: 0;
    margin: 0;
    max-width: 50%;
}

#secondaryCurrentWeatherInfos {
    display: flex;
    background: var(--secondaryBgColor);
    border-radius: 1em;
}

#secondaryCurrentWeatherInfos img {
    max-width: 35%;
}

#secondaryCurrentWeatherInfos div {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

#secondaryCurrentWeatherInfos div p:last-of-type {
    font-style: italic;
    color: gray;
    font-size: 0.75em;
}


#nextDays {
    overflow-x: scroll;
    display: flex;
    gap: 1em;
    
    scrollbar-width: none;
    -ms-overflow-style: none;
}

#nextDays::-webkit-scrollbar {
    display: none;
}

#nextDaysTitle {
    margin-bottom: 1em;
}

#nextDays div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--secondaryBgColor);
    min-width: 7.5em;
    min-height: 8.5em;
    border-radius: 1em;
    /*cursor: pointer;*/
    /*transition: 0.15s ease all;*/
}

#nextDays div span:nth-of-type(2) {
    color: gray;
}

section:not(#hourlyInfos) {
    margin-top: 2.5em;
}

#hourlyInfos {
    display: none;
    height: 100svh;
    font-size: 1.5em;
}

#hourlyInfosOptions {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-bottom: 1em;
}

#hourlyInfos select{
    background: var(--secondaryBgColor);
    padding: 0.5em;
    border-radius: 0.5em;
    outline: 0;
}

#backBtn {
    width: 1em;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hourlyInfosDiv {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1em;
    padding-bottom: 1em;
}

.hourDiv {
    /*outline: 1px solid #fff;*/
    background: var(--secondaryBgColor);
    border-radius: 0.5em;
    padding: 1em;
    display: flex;
    /*justify-content: space-between;
    align-items: center;*/
    width: 100%;
    height: 5em;
}

.hourDiv div {
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hourlyInfos img {
    max-width: unset;
    max-height: 100%;
}